
// Colors
$color-white: hsl(306 0% 100%); // #FFFFFF
$color-off-white: hsl(36 26% 96%); // #F8F6F3
$color-red: hsl(3 82% 59%); // #EC483F
$color-blue: hsl(240 96% 58%); // #312DFB
$color-green: hsl(81 100% 69%); // #C9FF63
$color-gray: hsl(36 16% 93%); // #F0EEEA
$color-black: hsl(0 0% 6%); // #101010


// Color implementation
$color-bg-white: $color-white;
$color-bg-off-white: $color-off-white;
$color-bg-red: $color-red;
$color-bg-blue: $color-blue;
$color-bg-green: $color-green;
$color-bg-gray: $color-gray;
$color-bg-black: $color-black;