// Sass variables


// General colors
$color-white: #FBFBFA;
$color-off-white: #F2F2EB;
$color-red: #ED271D;
$color-blueviolet: #6F04F7;
$color-violet: #BF84D5;
$color-purple: #743F85;
$color-purple-dark: #3D0352;
$color-black: #101010;

// Transparencies
$color-gray-trans: hsla(0, 0%, 9%, 0.074);
$color-purple-dark-trans: hsla(286, 76%, 16%, 0.374);
$color-off-white-trans: hsla(283, 67%, 93%, 0.887);

// Stats colors
$color-hp: #A1C4F9;
$color-attack: #FBA61E;
$color-defense: #8DE658;
$color-sp-attack: #FF463C;
$color-sp-defense: #1C88AA;
$color-speed: #FEEB3A;

// Color implementation
$color-bg-white: $color-white;
$color-bg-off-white: $color-off-white;
$color-bg-red: $color-red;
$color-bg-blueviolet: $color-blueviolet;
$color-bg-purple: $color-purple;
$color-bg-purple-dark: $color-purple-dark;
$color-bg-black: $color-black;

// Pokemon type implementation
$color-pokemon-normal: #ffffff;
$color-pokemon-fire: #F5463D;
$color-pokemon-water: #669EF2;
$color-pokemon-grass: #86D05B;
$color-pokemon-electric: #FED854;
$color-pokemon-ice: #D9E8FF;
$color-pokemon-fighting: #BB0C03;
$color-pokemon-poison: #FF5E00;
$color-pokemon-ground: #F8E6BA;
$color-pokemon-flying: #E3FEDA;
$color-pokemon-psychic: #DB42F4;
$color-pokemon-bug: #BFC153;
$color-pokemon-rock: #983414;
$color-pokemon-ghost: #F5F3EE;
$color-pokemon-dark: #35253B;
$color-pokemon-dragon: #19B959;
$color-pokemon-steel: #928D94;
$color-pokemon-fairy: #FED3D3;


// Font family
$font-primary: "VT323" , monospace;

// Font family implementation

    //Buttons
$button-font-family: $font-primary;


//Size implementations
    // Paragraphs and main text
$font-size-h1: clamp(6rem, 3.92vw + 4.47rem, 12rem);;
$font-size-h2: clamp(2.4rem, 1.83vw + 1.69rem, 5.2rem);
$font-size-p-small: 2rem;
$font-size-p: 3.2rem;
$font-size-p-big: 4rem;
$button-font-size: 2rem;


// Padding implementation
    //Vertical main padding
$vertical-padding-base: clamp(2rem, 5.23vw + -0.04rem, 10rem);

$flex-gap-base: 4rem;
$flex-gap-small: 2rem;
$flex-gap-v-small: .4rem;


// Mediaqueries
$bp-lowermedium: 37rem; // 592px
$bp-medium: 48rem; // 768px
$bp-uppermedium: 60rem; // 960px
$bp-lowerlarge: 75rem; // 1216px
$bp-large: 90rem; // 1440px
$bp-xlarge: 120rem; // 19200px

// Variables for @each / @for / etc

// Maps for stats colors
$map-colors-stats: (
    "hp": $color-hp,
    "attack": $color-attack,
    "defense": $color-defense,
    "sp-attack": $color-sp-attack,
    "sp-defense": $color-sp-defense,
    "speed": $color-speed
);
// Functions that runs this map in utilities.scss



// Effects

$hover-transition: 0.3s all ease-in-out;