@import './sass-variables';
@import './mixins';

h1,
.h1 {
    font-size: $font-size-h1;
    line-height: 85%;

}

h2,
.h2 {
    font-size: $font-size-h2;
    line-height: 85%;
}

#dark {

    h1,
    .h1,
    h2,
    .h2,
    p,
    .p--main {
        color: $color-white;
    }
}
