@import '../../scss/sass-variables';
@import '../../scss/mixins'; 


.topbar {
    background-color: $color-bg-red;

    & img {
        width: 20em;
        margin-top: 2rem;
    }
}

#dark .topbar {
    background-color: $color-bg-red-darker;
}

