@import '../../scss/mixins';
@import '../../scss/sass-variables';


.card {
    color: $color-black;
    font-size: $font-size-p;
    text-decoration: none;

    background: $color-bg-off-white;
    border-radius: 2rem;
    padding: 2rem;
    margin-bottom: clamp(1.2rem, 1.83vw + 0.49rem, 4rem);

    &__img {
        height: 14rem;
        width: 14rem;
        margin-right: clamp(3.2rem, 1.05vw + 2.79rem, 4.8rem);

        @include mq($bp-lowermedium) {
            margin-left: clamp(1.2rem, 1.83vw + 0.49rem, 4rem);
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        &__name {
            text-transform: capitalize;
            padding-bottom: .4rem;
        }
    }
}



.grid .card {
    margin-bottom: 0;

    &__img {
        height: clamp(10rem, 9.15vw + 6.43rem, 24rem);
        width: clamp(10rem, 9.15vw + 6.43rem, 24rem);
    }
}


#dark {

    & .card {
        color: $color-white;
        background-color: $color-bg-purple;
    }
}
